<div ng-show="!rc.length > 0" class="alert alert-danger" role="alert">
	Nenhum registro de referência comercial encontrado!
	<hr/>
	<a class="btn btn-primary btn-block" href="#/rcNew/{{pessoaId}}">Adicionar</a>
</div>
<div ng-show="rc.data.length > 0" class="alert alert-danger" role="alert">
	<div>
		<div class="alert alert-danger" role="alert">Cadastro de referência comercial</div>	
	</div>
	<form name="rcForm">
			<label class="align-text-bottom">Nome da Empresa</label>
		<input class="form-control" type="text" ng-model="rc.data.empresa" name="empresa" ng-required="true" value=rc.data.empresa
		 placeholder="Empresa" />
		 <label class="align-text-bottom">Nome da pessoa de contato</label>
		<input class="form-control" type="text" ng-model="rc.data.contato" name="contato" ng-required="true" value=rc.data.contato
		 placeholder="Nome do contato" />
		 <label class="align-text-bottom">Telefone</label>
		<input class="form-control" type="text" ng-model="rc.data.telefone" name="telefone" ng-required="true" value=rc.data.telefone
		 placeholder="Telefone" />

	</form>
	<hr/>
	<button class="btn btn-danger btn-block" ng-click="saveRC(rc.data.id,rc.data)" ng-disabled="rc.dataForm.$invalid">Salvar</button>
</div>