<div>
	<div ng-show="!locatarios.length > 0" class="alert alert-danger" role="alert">
		Nenhum registro de locatário encontrado!
	</div>
	<div ng-show="locatarios.length > 0" class="alert alert-danger" role="alert">
		Locatário
	</div>

	<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />
	<table ng-show="locatarios.length > 0" class="table table-striped">
		<tr>			
			<th>Nome</th>
			<th>CPF</th>
			<th>RG</th>
			<th colspan="2"><center>Opções</center></th>
			
		</tr>
		<tr ng-repeat="locatario in locatarios | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			
			<td>
				{{locatario.nome |name}}
			</td>
			<td>
				{{locatario.cpf}}
			</td>
			<td>
				{{locatario.rg}}
			</td>
			<td>
				<a href="#/locatarioEdit/{{locatario.id}}">Visualizar</a>
			</td>
			<td>
				<a ng-click="apagarLocatario(locatario.id)" href="">Excluir</a>
			</td>
		</tr>

	</table>
	<hr>
	<a class="btn btn-primary btn-block" href="#/locatarioNew">Adicionar</a>
	<a class="btn btn-success btn-block" href="#/inicio">Voltar</a>

</div>