<div>
	<div ng-show="!locatarios.data.length > 0" class="alert alert-danger" role="alert">
		Nenhum registro de locatário encontrado!
	</div>
	<div ng-show="locatarios.data.length > 0" class="alert alert-danger" role="alert">
		Locatário
	</div>

	<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />
	<table ng-show="locatarios.data.length > 0" class="table table-striped">
		<tr>
			<th></th>
			<th>
				<a href="" ng-click="ordenarPor('nome')">Nome</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('cpf')">CPF</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('rg')">RG</a>
			</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="locatario in locatarios.data | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			<td>
				<input type="checkbox" ng-model="locatario.selecionado" />
			</td>
			<td>
				<a href="">{{locatario.nome |name}}</a>
			</td>
			<td>
				<a href="">{{locatario.cpf}}</a>
			</td>
			<td>
				<a href="">{{locatario.rg}}</a>
			</td>
			<td>
				<a href="#/locatarioEdit/{{locatario.id}}">Visualizar</a>
			</td>
			<td>
				<a ng-click="apagarLocatario(locatario.id)" href="">Excluir</a>
			</td>
		</tr>

	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/locatarioNew">Adicionar</a>

</div>