<div class="jumbotron">
	<form name="contatoForm">
		<label ng-model="contato.user">Código: {{contato.user}}</label>
		<input class="form-control" type="text" ng-model="contato.fixo" name="fixo" ng-required="true" placeholder="Telefone fixo"/>
		<input class="form-control" type="text" ng-model="contato.celular" name="celular" ng-required="true" placeholder="Celular"/>
		<input class="form-control" type="text" ng-model="contato.email" name="email" ng-required="true" placeholder="Email"/>
		<input class="form-control" type="text" ng-model="contato.recado" name="recado" ng-required="true" placeholder="Recado"/>
		{{locatarioId}}
		
</form>	
	<hr/>
	<button class="btn btn-danger btn-block"  ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar</button>
</div>