<div class="jumbotron">
	<form name="contatoForm">
        	
	<input class="form-control" type="text" ng-model="contato.data.fixo" name="fixo" ng-required="true" value=contato.data.fixo placeholder="Telefone fixo"/>
        <input class="form-control" type="text" ng-model="contato.data.celular" name="celular" ng-required="true" value=contato.data.celular placeholder="Celular"/>
        <input class="form-control" type="text" ng-model="contato.data.email" name="email" ng-required="true" value=contato.data.email placeholder="Email"/>
	<input class="form-control" type="text" ng-model="contato.data.recado" name="recado" ng-required="true" value=contato.data.recado placeholder="Recado"/>
        
	

</form>	
	<hr/>
	<button class="btn btn-danger btn-block"  ng-click="saveContato(contato.data.id,contato.data)" ng-disabled="contato.dataForm.$invalid">Salvar</button>
</div>