<div ng-show="!contato.data.length > 0" class="alert alert-danger" role="alert">
	Nenhum registro de contato encontrado!
	<hr>
	<a class="btn btn-primary btn-block" href="#/contatoNew/{{pessoaId}}">Adicionar</a>
	<a class="btn btn-success btn-block" href="#/locatarioEdit/{{pessoaId}}">Voltar</a>

</div>
<div ng-show="contato.data.length > 0">
	<div class="alert alert-danger" role="alert">Cadastro de contato</div>
	<form name="contatoForm">
		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Telefone Fixo</label>
			<input class="form-control" type="text" ng-model="contato.data[0].fixo" name="fixo" ng-required="true"  placeholder="Telefone fixo" />
		</div>
		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Celular</label>
			<input class="form-control" type="text" ng-model="contato.data[0].celular" name="celular" ng-required="true" placeholder="Celular" />
		</div>
		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">E-mail</label>
			<input class="form-control" type="text" ng-model="contato.data[0].email" name="email" ng-required="true" placeholder="Email" />
		</div>
		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Recado</label>
			<input class="form-control" type="text" ng-model="contato.data[0].recado" name="recado" ng-required="true" placeholder="Recado" />
		</div>
	</form>
	<hr>
	<div ng-show="msg!='vazio'">
		<div  class="alert alert-success" role="alert">{{msg}}	</div>
	</div>
	<button class="btn btn-danger btn-block" ng-click="saveContato(contato.data[0])" ng-disabled="contato.dataForm.$invalid">Salvar</button>
	<a class="btn btn-success btn-block" href="#/locatarioEdit/{{pessoaId}}">Voltar</a>
	
</div>