<div ng-show="!contato.length > 0" class="alert alert-danger" role="alert">
	Nenhum registro de contato encontrado!
	<hr/>
	<a class="btn btn-primary btn-block" href="#/contatoNew/{{pessoaId}}">Adicionar</a>
</div>
<div ng-show="enderecos.data.length > 0" class="alert alert-danger" role="alert">
	<div>
		<div class="alert alert-danger" role="alert">Cadastro de contato</div>	
	</div>
	<form name="contatoForm">
			<label class="align-text-bottom">Telefone Fixo</label>
		<input class="form-control" type="text" ng-model="contato.data.fixo" name="fixo" ng-required="true" value=contato.data.fixo
		 placeholder="Telefone fixo" />
		 <label class="align-text-bottom">Celular</label>
		<input class="form-control" type="text" ng-model="contato.data.celular" name="celular" ng-required="true" value=contato.data.celular
		 placeholder="Celular" />
		 <label class="align-text-bottom">E-mail</label>
		<input class="form-control" type="text" ng-model="contato.data.email" name="email" ng-required="true" value=contato.data.email
		 placeholder="Email" />
		 <label class="align-text-bottom">Recado</label>
		<input class="form-control" type="text" ng-model="contato.data.recado" name="recado" ng-required="true" value=contato.data.recado
		 placeholder="Recado" />

	</form>
	<hr/>
	<button class="btn btn-danger btn-block" ng-click="saveContato(contato.data.id,contato.data)" ng-disabled="contato.dataForm.$invalid">Salvar</button>
</div>