<div>

	<div ng-show="!rps.length > 0" class="alert alert-danger" role="alert">

		Nenhum registro de referência pessoal encontrado!

	</div>
	<div ng-show="rps.length > 0" class="alert alert-danger" role="alert">
		Referência pessoal
	</div>

	<table ng-show="rps.length > 0" class="table table-striped">
		<tr>			
			<th>
				<a href="" ng-click="ordenarPor('nome')">Nome</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('telefone')">Telefone</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('parentesco')">Parentesco</a>
			</th>
			<th colspan="2"></th>			
		</tr>
		<tr ng-repeat="rp in rps | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			
			<td>
				<a href="">{{rp.nome |name}}</a>
			</td>
			<td>
				<a href="">{{rp.telefone}}</a>
			</td>
			<td>
				<a href="">{{rp.parentesco}}</a>
			</td>
			<td>
				<a href="#/rpEdit/{{rp.id}}/{{pessoaId}}">Editar</a>
			</td>
			<td>
				<a ng-click="apagarRp(rp.id)" href="">Excluir</a>
			</td>
		</tr>

	</table>
	<hr>
	
	<a class="btn btn-primary btn-block" href="#/rpNew/{{pessoaId}}">Adicionar</a>
	<a class="btn btn-success btn-block" href="#/locatarioEdit/{{pessoaId}}">Voltar</a>


</div>