<div>
	<div class="alert alert-danger" role="alert">
		Cadastro de referência pessoal
	</div>
	<form name="rpForm">
			<label class="align-text-bottom">Nome da Pessoa</label>
		<input class="form-control" type="text" ng-model="rp.data.nome" name="nome" ng-required="true" value=rp.data.nome placeholder="Nome"
		/>
		<label class="align-text-bottom">Telefone</label>
		<input class="form-control" type="text" ng-model="rp.data.telefone" name="telefone" ng-required="true" value=rp.data.telefone
		 placeholder="Telefone" />
		 <label class="align-text-bottom">Grau de Parentesco</label>
		<input class="form-control" type="text" ng-model="rp.data.parentesco" name="parentesco" ng-required="true" value=rp.data.parentesco
		 placeholder="Parentesco" />

	</form>
	<hr/>
	<button class="btn btn-danger btn-block" ng-click="saveRP(rp.data.id,rp.data)" ng-disabled="rp.dataForm.$invalid">Salvar</button>
</div>