<div>
	<div class="alert alert-danger" role="alert">
		Referência pessoal - Novo cadastro de referência pessoal
	</div>
	<form name="rpForm">
		<div class="form-group col-md-6 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Nome da Pessoa de Contato</label>
			<input class="form-control" type="text" ng-model="rp.nome" name="nome" ng-required="true" value=rp.data.nome placeholder="Nome"	/>
		</div>
		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Telefone</label>
			<input class="form-control" type="text" ng-model="rp.telefone" name="telefone" ng-required="true" value=rp.data.telefone placeholder="Telefone" />
		</div>
		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Grau de Parentesco</label>
			<input class="form-control" type="text" ng-model="rp.parentesco" name="parentesco" ng-required="true" value=rp.data.parentesco placeholder="Parentesco" />
		</div>
	</form>
	<hr>
	<div ng-show="msg!='vazio'">
		<div  class="alert alert-success" role="alert">{{msg}}	</div>
	</div>
	<button class="btn btn-danger btn-block" ng-click="adicionarRP(rp)" ng-disabled="rpForm.$invalid">Adicionar</button>
	<a class="btn btn-success btn-block" href="#/rp/{{pessoaId}}">Voltar</a>
</div>