<div class="jumbotron">
	<form name="locatarioForm">
		<div class="form-group col-md-12 col-sm-12">
			<label>Cadastro de Locatário</label>

		</div>

		<div class="form-group col-md-8 col-sm-8">

			<input class="form-control" type="text" ng-model="locatario.data.nome" name="nome" ng-required="true" value=locatario.data.nome
			 placeholder="Nome do locatario" />

			<input class="form-control" type="text" ng-model="locatario.data.nascimento" name="nascimento" ng-required="true" value=locatario.data.nascimento
			 placeholder="Data de nascimento" />

			<input class="form-control" type="text" ng-model="locatario.data.sexo" name="sexo" ng-required="true" value=locatario.data.sexo
			 placeholder="Sexo" />

			<input class="form-control" type="text" ng-model="locatario.data.estado" name="estado" ng-required="true" value=locatario.data.estado
			 placeholder="Estado civil" />

			<input class="form-control" type="text" ng-model="locatario.data.cpf" name="cpf" ng-required="true" value=locatario.data.cep
			 placeholder="CFP" />

			<input class="form-control" type="text" ng-model="locatario.data.rg" name="rg" ng-required="true" value=locatario.data.rg
			 placeholder="RG" />

			<input class="form-control" type="text" ng-model="locatario.data.emissor" name="emissor" ng-required="true" value=locatario.data.emissor
			 placeholder="Emissor" />

			<input class="form-control" type="text" ng-model="locatario.data.uf" name="uf" ng-required="true" value=locatario.data.uf
			 placeholder="UF" />

			<input class="form-control" type="text" ng-model="locatario.data.naturalidade" name="naturalidade" ng-required="true" value=locatario.data.naturalidade
			 placeholder="Naturalidade" />

			<input class="form-control" type="text" ng-model="locatario.data.pai" name="pai" ng-required="true" value=locatario.data.pai
			 placeholder="Nome do pai" />

			<input class="form-control" type="text" ng-model="locatario.data.mae" name="mae" ng-required="true" value=locatario.data.mae
			 placeholder="Nome do mae" />
			<hr/>
			<button class="btn btn-danger btn-block" ng-click="savelocatario(locatario.data.id,locatario.data)" ng-disabled="locatario.dataForm.$invalid">Salvar</button>
		</div>

		<div class="form-group col-md-2 col-sm-2">
			<div class="row">
				<a class="btn btn-block aLink" href="#/contato/{{locatario.id}}">Contatos</a>
				<hr/>
			</div>
			<div class="row">
				<a class="btn btn-block aLink" href="#/endereco/{{locatario.id}}">Endereço</a>
				<hr/>
			</div>
			<div class="row">
					<a class="btn btn-block aLink" href="#/rc/{{conjuge.id}}">Cônjuge</a>
				</div>
			<div class="row">
				<a class="btn btn-block aLink" href="#/ocupacao/{{locatario.id}}">Ocupação</a>
				<hr/>
			</div>
			<div class="row">
				<a class="btn btn-block aLink" href="#/rp/{{locatario.id}}">Referência Pessoal</a>
				<hr/>
			</div>
			<div class="row">
				<a class="btn btn-block aLink" href="#/rc/{{locatario.id}}">Referência Comercial</a>
			</div>

		</div>




	</form>


</div>