
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
	    	<ul class="nav navbar-nav">
				<li class="active"><a href="#inicio">Início</a></li>
				<li><a href="#locatario">Locatário</a></li>
				<li><a href="#locador">Locador</a></li>
				<li><a href="#imoveis">Imóveis</a></li>
				<li><a href="#contratos">Contratos</a></li>
				<li><a href="#repasses">Repasses</a></li>
				<li><a href="#caixa">Caixa</a></li>
				<li><a href="#login">Login</a></li>					
		    </ul>
	    </div>
	</nav>
