
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
	    	<ul class="nav navbar-nav">
				<li class="active"><a href="#inicio">Início</a></li>
				<li><a href="#locatario">Locatário</a></li>
				<li><a href="#endereco">Endereço</a></li>
				<li><a href="#contato">Contatos</a></li>
				<li><a href="#conjuge">Cônjuge</a></li>
				<li><a href="#ocupacao">Ocupação</a></li>
				<li><a href="#banco">Dados bancário</a></li>				
				<li><a href="#rp">Referência Pessoal</a></li>
				<li><a href="#rc">Referência Comercial</a></li>
		    </ul>
	    </div>
	</nav>
