<div class="container">		
			
	<center class="alert alert-danger"><h3>Painel Gerencial</h3></center>
				
	<table class="table">
		<tr>
			<td class="col-md-3 col-sm-12 col-xs-12"><img src="imagens/locador.png" width="50" height="50" alt="Locador"></td>
			<td><bgcolor="red">{{locadors.length}}</color> - Locadores cadastrados</td>
		
		<td></td>
			<td><img src="imagens/locatario.png" width="50" height="50" alt="Locatário"></td>
			<td>{{locatarios.length}} - Locatários cadastrados</td>		
			
		</tr>

		<tr>
			<td><img src="imagens/imoveis.jpeg" width="50" height="50" alt="imóveis cadastrados"></td>
			<td><h1 style="color:#C90D0D">{{imoveis.length}}</h1> - Imóveis cadastrados</td>
			<td></td>
			
			<td><img src="imagens/contratos.png" width="50" height="50" alt="Contratos ativos"></td>
			<td>{{contratos.length}} - Contratos ativos</td>			
				
		</tr>

		<tr>
			<td><img src="imagens/img1.png" width="50" height="50" alt="Quantidade de locatário"></td>
			<td>{{pagamentos.length}} - Pagamentos em atraso</td>
		
			<td></td>
			<td><img src="imagens/img1.png" width="50" height="50" alt="Quantidade de locatário"></td>
			<td>{{repasses.length}} - Repasses em atraso</td>			
					
		</tr>

		
	</table>
	
</div>