<div class="jumbotron">
	<div class="row">
		<div class="col">
			<span>00 -</span>
			<img src="imagens/locatario.png" width="70" height="70" alt="Quantidade de locatário">
		</div>
		<div class="col">
			<span>00 -</span>
			<img src="imagens/locador.png"   width="70" height="70" alt="Quantidade de locador">
		</div>
	</div><br>
	<div class="row">
			<div class="col">
				<span>00 -</span>
				<img src="imagens/imoveis.jpeg"  width="70" height="70" alt="Quantidade de imóveis">
			</div>
			<div class="col">
				<span>00 -</span>
				<img src="imagens/contratos.png"   width="70" height="70" alt="Quantidade de contratos">
			</div>
		</div>


</div>