<div class="container">
	<div class="col-md-12"><center class="alert alert-danger"><h3>Painel Gerencial</h3></center></div>		
</div>
		
<div class="container">			
	<div class="row">
				<div class="col-md-1"><img src="imagens/locador.png" width="60" height="60" alt="Locador"></div>
				<div class="col-md-5"><bgcolor="red"><h3 style="color:#C90D0D;width:20; margin:auto;padding:auto;">{{locadores.length}}</h3></bgcolor>Locadores cadastrados</span></div>
				<div class="col-md-1"><img src="imagens/locatario.png" width="60" height="60" alt="Locatário"></div>
				<div class="col-md-5"><bgcolor="red"><h3 style="color:#C90D0D;width:20; margin:auto;padding:auto">{{locatarios.length}}</h3></bgcolor>Locatários cadastrados</div>
		
	</div>
	<div class="row"><hr></div>
	<div class="row">
		
				<div class="col-md-1"><img src="imagens/imoveis.jpeg" width="70" height="60" alt="imóveis cadastrados"></div>
				<div class="col-md-5"><bgcolor="red"><h3 style="color:#C90D0D;width:20; margin:auto;padding:auto">{{imoveis.length}}</h3></bgcolor>Imóveis cadastrados</div>
				<div class="col-md-1"><img src="imagens/contratos.png" width="70" height="60" alt="Contratos ativos"></div>
				<div class="col-md-5"><bgcolor="red"><h3 style="color:#C90D0D;width:20; margin:auto;padding:auto">{{contratos.length}}</h3></bgcolor>Contratos ativos</div>
			
	</div>
	<div class="row"><hr></div>
	<div class="row">
		
				<div class="col-md-1"><img src="imagens/img1.png" width="60" height="60" alt="Quantidade de locatário"></div>
				<div class="col-md-5"><bgcolor="red"><h3 style="color:#C90D0D;width:20; margin:auto;padding:auto">{{pagamentos.length}}</h3></bgcolor>Pagamentos em atraso</div>
				<div class="col-md-1"><img src="imagens/img1.png" width="60" height="60" alt="Quantidade de locatário"></div>
				<div class="col-md-5"><bgcolor="red"><h3 style="color:#C90D0D;width:20; margin:auto;padding:auto">{{repasses.length}}</h3></bgcolor>Repasses em atraso</div>
		
	</div>
	<div class="row"><hr></div>	
	

</div>