<div class="container">
	<div whidth="50%">
		<table class="table">
			<tr>
				<td>
					<div>
						<img src="imagens/img1.png" width="70" height="70" alt="Quantidade de locatário">
						<h3>
							<span>00 - Locatários cadastrados -</span>
						</h3>
					</div>


				</td>
				<tr>
					<td>
						<span>00 -</span>
						<img src="imagens/img1.png" width="70" height="70" alt="Quantidade de locador">
					</td>
				</tr>
				<tr>
					<td>
						<span>00 -</span>
						<img src="imagens/img1.png" width="70" height="70" alt="Quantidade de imóveis">
					</td>
				</tr>
				<tr>
					<td>
						<span>00 -</span>
						<img src="imagens/img1.png" width="70" height="70" alt="Quantidade de contratos">
					</td>
				</tr>
		</table>
	</div>
	<div whidth="50%">
		<table class="table">
			<tr>
				<td>
					<div>
						<img src="imagens/img1.png" width="70" height="70" alt="Quantidade de locatário">
						<h3>
							<span>00 - Locatários cadastrados -</span>
						</h3>
					</div>


				</td>
				<tr>
					<td>
						<span>00 -</span>
						<img src="imagens/img1.png" width="70" height="70" alt="Quantidade de locador">
					</td>
				</tr>
				<tr>
					<td>
						<span>00 -</span>
						<img src="imagens/img1.png" width="70" height="70" alt="Quantidade de imóveis">
					</td>
				</tr>
				<tr>
					<td>
						<span>00 -</span>
						<img src="imagens/img1.png" width="70" height="70" alt="Quantidade de contratos">
					</td>
				</tr>
		</table>
	</div>
</div>