<div class="jumbotron">
	<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
	<table ng-show="rps.data.length > 0" class="table table-striped">
		<tr>
			<th></th>			
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>			
			<th><a href="" ng-click="ordenarPor('telefone')">Telefoner</a></th>			
			<th><a href="" ng-click="ordenarPor('parentesco')">Parentesco</a></th>	
			
			<th></th>
			<th></th>		
		</tr>
		<tr ng-repeat="rp in rps.data | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			<td><input type="checkbox" ng-model="rp.selecionado"/></td>			
			<td><a href="">{{rp.nome |name}}</a></td>
			<td><a href="">{{rp.telefone}}</a></td>
			<td><a href="">{{rp.parentesco}}</a></td>			
			<td><a href="#/rpEdit/{{rp.id}}">Editar</a></td>
			<td><a ng-click="apagarRP(rp.id)" href="">Excluir</a></td>			
		</tr>
		
	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/rpNew/{{locatarioId}}">Adicionar</a>
	
</div>