<div>
	<div ng-show="!imovels.data.length > 0" class="alert alert-danger" role="alert">

		Nenhum registro de imóvel encontrado!

	</div>
	<div ng-show="imovels.data.length > 0" class="alert alert-danger" role="alert">
		Imóveis
	</div>
	<table ng-show="imovels.data.length > 0" class="table table-striped">
		<tr>
			<th></th>
			<th>
				<a href="" ng-click="ordenarPor('imovel_id')">Cógigo</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('imovel_locador_id')">Locador</a>
			</th>
			
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="imovel in imovels.data | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			<td>
				<input type="checkbox" ng-model="imovel.selecionado" />
			</td>
			<td>
				<a href="">{{imovel.imovel_id |name}}</a>
			</td>
			<td>
				<a href="">{{imovel.imovel_locador_id}}</a>
			</td>
			
			<td>
				<a href="#/imoveisEdit/{{imovel.id}}">Editar</a>
			</td>
			<td>
				<a ng-click="apagarImovel(imovel.id)" href="">Excluir</a>
			</td>
		</tr>

	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/imoveisNew/{{locatarioId}}">Adicionar</a>

</div>