<div>
	<div class="alert alert-danger" role="alert">
		Cadastro de imóvel
	</div>

	<form name="imovelForm">
		<label class="align-text-bottom">Código do imovel</label>
		<input class="form-control" type="text" ng-model="imovel.data.id" name="id" ng-required="true" value=imovel.data.id
		 placeholder="Código do imovel" />
		 <label class="align-text-bottom">Inscrição IPTU</label>
		 <input class="form-control" type="text" ng-model="imovel.data.iptu" name="iptu" ng-required="true" value=imovel.data.iptu
		  placeholder="Inscrição IPTU" />
		 <label class="align-text-bottom">RGI - Água</label>
		<input class="form-control" type="text" ng-model="imovel.data.agua" name="agua" ng-required="true" value=imovel.data.agua
		 placeholder="RGI -Água" />
		 <label class="align-text-bottom">Código EDP - Energia Elétrica</label>
		<input class="form-control" type="text" ng-model="imovel.data.luz" name="luz" ng-required="true" value=imovel.data.luz
		 placeholder="Código EDP - Energia Elétrica" />
		
		 <label class="align-text-bottom">Observação</label>
		<input class="form-control" type="text" ng-model="imovel.data.obs" name="obs" ng-required="true"
		 value=imovel.data.obs placeholder="Observação" />
		 <div class="form-group col-md-12 col-sm-12 col-xs-12">
			<hr/>
		</div>

		<div class="form-group col-md-12 col-sm-12 col-xs-12">
			
			<button class="btn btn-danger btn-block" ng-click="saveImovel(imovel.data.id,imovel.data)" ng-disabled="imovel.dataForm.$invalid">Salvar</button>
		</div>
		 
		<div class="form-group col-md-2 col-sm-2"><a class="btn btn-block aLink" href="#/endereco3/{{imovel.data.id}}">Endereço</a>
		</div>

	</form>
	</div>