<div>
	<div class="alert alert-danger" role="alert">
		Imóveis - Novo cadastro de imóvel
	</div>
	<form name="imovelForm">
		<label class="align-text-bottom">Locador</label>
		<input class="form-control" type="text" ng-model="imovel.locador_id" name="locador_id" ng-required="true" value=imovel.data.locador_id 
		placeholder="Locador" />
		<label class="align-text-bottom">Inscrição do IPTU</label>
		<input class="form-control" type="text" ng-model="imovel.iptu" name="iptu" ng-required="true" value=imovel.data.iptu 
		placeholder="Inscrição do IPTU" />
		<label class="align-text-bottom">RGI - Água</label>
		<input class="form-control" type="text" ng-model="imovel.agua" name="agua" ng-required="true" value=imovel.data.agua
		 placeholder="RGI - Água" />
		 <label class="align-text-bottom">Código EDP - Energia Elétrica</label>
		<input class="form-control" type="text" ng-model="imovel.luz" name="luz" ng-required="true" value=imovel.data.luz
		 placeholder="Código EDP - Energia Elétrica" />
		 <label class="align-text-bottom">Observação</label>
		<input class="form-control" type="text" ng-model="imovel.obs" name="obs" ng-required="true"
		 value=imovel.data.imovel_obs placeholder="Observação" />


	</form>
	<hr/>
	<button class="btn btn-danger btn-block" ng-click="adicionarImovel(imovel)" ng-disabled="imovelForm.$invalid">Adicionar</button>
</div>