<div>
	<div ng-show="!imoveis.length > 0" class="alert alert-danger" role="alert">

		Nenhum registro de imóvel encontrado!

	</div>
	<div ng-show="imoveis.length > 0" class="alert alert-danger" role="alert">
		Imóveis
	</div>
	<table ng-show="imoveis.length > 0" class="table table-striped">
		<tr>			
			<th>Código</th>
			<th>Locador</th>
			<th>Bairro</th>
			<th>Endereço/th>
			<th colspan="2"><center>Opções</center></th>			
		</tr>
		<tr ng-repeat="imovel in imoveis | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			
			<td>{{imovel.id}}</td>
			<td>{{imovel.nome}}</td>
			<td>{{imovel.bairro}}</td>
			<td>{{imovel.logradouro}},{{imovel.numero}}</td>			
			<td>
				<a href="#/imoveisEdit/{{imovel.id}}">Visualizar</a>
			</td>
			<td>
				<a ng-click="apagarImovel(imovel.id)" href="">Excluir</a>
			</td>
		</tr>

	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/imoveisNew/{{locatarioId}}">Adicionar</a>
	<a class="btn btn-success btn-block" href="#/inicio">Voltar</a>

</div>