<div>
	<div class="alert alert-danger" role="alert">
		Imóveis - Novo cadastro de imóvel
	</div>
	<form name="imovelForm">
		<label class="align-text-bottom">Locador</label>
		<input class="form-control" type="text" ng-model="imovel.user_id" name="locador_id" ng-required="true" placeholder="Locador" />
		<label class="align-text-bottom">Inscrição do IPTU</label>
		<input class="form-control" type="text" ng-model="imovel.iptu" name="iptu" ng-required="true" placeholder="Inscrição do IPTU" />
		<label class="align-text-bottom">RGI - Água</label>
		<input class="form-control" type="text" ng-model="imovel.agua" name="agua" ng-required="true" placeholder="RGI - Água" />
		 <label class="align-text-bottom">Código EDP - Energia Elétrica</label>
		<input class="form-control" type="text" ng-model="imovel.luz" name="luz" ng-required="true" placeholder="Código EDP - Energia Elétrica" />
		 <label class="align-text-bottom">Observação</label>
		<input class="form-control" type="text" ng-model="imovel.obs" name="obs" ng-required="true"	 placeholder="Observação" />


	</form>
	<hr/>
	<button class="btn btn-danger btn-block" ng-click="adicionarImovel(imovel)" ng-disabled="imovelForm.$invalid">Adicionar</button>
</div>