<div>
	<div class="alert alert-danger" role="alert">
		Contato - Novo cadastro de contato
	</div>
	<form name="contatoForm">
			<label class="align-text-bottom">Telefone Fixo</label>
		<input class="form-control" type="text" ng-model="contato.fixo" name="fixo" ng-required="true" placeholder="Telefone fixo"
		/>
		<label class="align-text-bottom">Celular</label>
		<input class="form-control" type="text" ng-model="contato.celular" name="celular" ng-required="true" placeholder="Celular"
		/>
		<label class="align-text-bottom">E-mail</label>
		<input class="form-control" type="text" ng-model="contato.email" name="email" ng-required="true" placeholder="Email" />
		<label class="align-text-bottom">Recado</label>
		<input class="form-control" type="text" ng-model="contato.recado" name="recado" ng-required="true" placeholder="Recado" />

	</form>
	<hr/>
	<button class="btn btn-danger btn-block" ng-click="adicionarContato(contato)">Adicionar</button>
</div>