<div>

	<div ng-show="!contatos.data.length > 0" class="alert alert-danger" role="alert">

		Nenhum registro de contatos encontrado!

	</div>
	<div ng-show="contatos.data.length > 0" class="alert alert-danger" role="alert">
		Contatos
	</div>

	<table ng-show="contatos.data.length > 0" class="table table-striped">
		<tr>
			<th></th>
			<th>
				<a href="" ng-click="ordenarPor('fixo')">Fixo</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('celular')">Celular</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('email')">Email</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('recado')">Recado</a>
			</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="contato in contatos.data | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			<td>
				<input type="checkbox" ng-model="contato.selecionado" />
			</td>
			<td>
				<a href="">{{contato.fixo |name}}</a>
			</td>
			<td>
				<a href="">{{contato.celular}}</a>
			</td>
			<td>
				<a href="">{{contato.email}}</a>
			</td>
			<td>
				<a href="">{{contato.recado}}</a>
			</td>
			<td>
				<a href="#/contato2Edit/{{contato.id}}">Editar</a>
			</td>
			<td>
				<a ng-click="apagarContato(contato.id)" href="">Excluir</a>
			</td>
		</tr>

	</table>
	<hr/>
	<a class="btn btn-danger btn-block" href="#/locatarioEdit/{{locatarioId}}">Locatário</a>
	<a class="btn btn-primary btn-block" href="#/contato2New/{{locatarioId}}">Adicionar</a>


</div>