<div>
	<div class="alert alert-danger" role="alert">
		Profissão - Novo cadastro profissional
	</div>
	<form name="ocupacaoForm">
		<div class="form-group col-md-6 col-sm-12 col-xs-12">
			<label class="align-text-bottom">Nome da Empresa</label>
			<input class="form-control" type="text" ng-model="ocupacao.empresa" name="empresa" ng-required="true" placeholder="Nome da empresa"
			/>
		</div>
		<div class="form-group col-md-4 col-sm-12 col-xs-12">
			<label class="align-text-bottom">CNPJ</label>
			<input class="form-control" type="text" ng-model="ocupacao.cnpj" name="cnpj" ng-required="true" placeholder="CNPJ" />
		</div>
		<div class="form-group col-md-2 col-sm-12 col-xs-12">
			<label class="align-text-bottom">Data de Admissão</label>
			<input class="form-control" type="text" ng-model="ocupacao.admissao" name="admissao" ng-required="true" placeholder="Data de admissão"
			/>
		</div>
		<div class="form-group col-md-4 col-sm-12 col-xs-12">
			<label class="align-text-bottom">Telefone</label>
			<input class="form-control" type="text" ng-model="ocupacao.contato" name="contato" ng-required="true" placeholder="Contato"
			/>
		</div>
		<div class="form-group col-md-6 col-sm-12 col-xs-12">
			<label class="align-text-bottom">Endereço</label>
			<input class="form-control" type="text" ng-model="ocupacao.endereco" name="endereco" ng-required="true" placeholder="Endereço"
			/>
		</div>

		<div class="form-group col-md-2 col-sm-12 col-xs-12">
			<label class="align-text-bottom">Salário</label>
			<input class="form-control" type="text" ng-model="ocupacao.salario" name="salario" ng-required="true" placeholder="Salário"
			/>
		</div>
		<div class="form-group col-md-6 col-sm-12 col-xs-12">
			<label class="align-text-bottom">Cargo / Ocupação</label>
			<input class="form-control" type="text" ng-model="ocupacao.ocupacao" name="ocupacao" ng-required="true" placeholder="Ocupação"
			/>
		</div>
		<div class="form-group col-md-6 col-sm-12 col-xs-12">
			<label class="align-text-bottom">Outras Rendas</label>
			<input class="form-control" type="text" ng-model="ocupacao.rendas" name="rendas" ng-required="true" placeholder="Rendas"
			/>
		</div>
	</form>
	<hr>
	<div ng-show="msg!='vazio'">
		<div  class="alert alert-success" role="alert">{{msg}}	</div>
	</div>
	<button class="btn btn-danger btn-block" ng-click="adicionarOcupacao(ocupacao)" ng-disabled="ocupacaoForm.$invalid">Adicionar</button>
	<a class="btn btn-success btn-block" href="#/locatarioEdit/{{pessoaId}}">Voltar</a>
</div>