<div>
	<div class="alert alert-danger" role="alert">
		Endereço - Novo cadastro de endereço
	</div>
	<form name="enderecoForm">
		<input class="form-control" type="text" ng-model="endereco.logradouro" name="logradouro" ng-required="true" placeholder="Logradouro"
		/>
		<input class="form-control" type="text" ng-model="endereco.numero" name="numero" ng-required="true" placeholder="Número"
		/>
		<input class="form-control" type="text" ng-model="endereco.bairro" name="bairro" ng-required="true" placeholder="Bairro"
		/>
		<input class="form-control" type="text" ng-model="endereco.cidade" name="cidade" ng-required="true" placeholder="Cidade"
		/>
		<input class="form-control" type="text" ng-model="endereco.cep" name="cep" ng-required="true" placeholder="CEP" />
		<input class="form-control" type="text" ng-model="endereco.uf" name="uf" ng-required="true" placeholder="UF" />

	</form>
	<hr/>
	<button class="btn btn-danger btn-block" ng-click="adicionarEndereco(endereco)" ng-disabled="enderecoForm.$invalid">Adicionar</button>
</div>