<div ng-show="!endereco.data.length > 0" class="alert alert-danger" role="alert">
    Nenhum registro de endereço encontrado!
    <hr>
	<a class="btn btn-primary btn-block" href="#/enderecoNew/{{pessoaId}}">Adicionar</a>
	<a class="btn btn-success btn-block" href="#/locatarioEdit/{{pessoaId}}">Voltar</a>

</div>
<div ng-show="endereco.data.length > 0">
	<div class="alert alert-danger" role="alert">Cadastro de endereço</div>	
	<form name="enderecoForm">
		<div class="form-group col-md-6 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Logradouro</label>
			<input class="form-control" type="text" ng-model="endereco.data[0].logradouro" name="logradouro" ng-required="true" placeholder="Logradouro" />
		</div>
		<div class="form-group col-md-2 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Número</label>
			<input class="form-control" type="text" ng-model="endereco.data[0].numero" name="numero" ng-required="true" placeholder="Número" />
		</div>

		<div class="form-group col-md-4 col-sm-12 col-xs-12 pl-0">	
			<label class="align-text-bottom">Bairro</label>
			<input class="form-control" type="text" ng-model="endereco.data[0].bairro" name="bairro" ng-required="true" placeholder="Bairro" />
		</div>

		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Cidade</label>
			<input class="form-control" type="text" ng-model="endereco.data[0].cidade" name="cidade" ng-required="true"  placeholder="Cidade" />
		</div>
		
		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">CEP</label>
			<input class="form-control" type="text" ng-model="endereco.data[0].cep" name="cep" ng-required="true" placeholder="CEP" />
		</div>

		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">UF</label>
			<input class="form-control" type="text" ng-model="endereco.data[0].uf" name="uf" ng-required="true"  placeholder="UF"/>
		</div>
		
		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Complemento</label>
			<input class="form-control" type="text" ng-model="endereco.data[0].complemento" name="complemento" ng-required="true" placeholder="Complemento"/>
		</div>
	</form>
	<hr>
	<div ng-show="msg!='vazio'">
		<div  class="alert alert-success" role="alert">{{msg}}	</div>
	</div>
	<button class="btn btn-danger btn-block" ng-click="saveEndereco(endereco.data[0])" ng-disabled="endereco.data[0].dataForm.$invalid">Salvar</button>
	<a class="btn btn-success btn-block" href="#/locatarioEdit/{{pessoaId}}">Voltar</a>
</div>