<div>
	<div class="alert alert-danger" role="alert">
		Endereço - Novo cadastro de endereço
	</div>
	<form name="enderecoForm">
			<label class="align-text-bottom">Logradouro</label>
		<input class="form-control" type="text" ng-model="endereco.logradouro" name="logradouro" ng-required="true" placeholder="Logradouro"
		/>
		<label class="align-text-bottom">Número</label>
		<input class="form-control" type="text" ng-model="endereco.numero" name="numero" ng-required="true" placeholder="Número"
		/>
		<label class="align-text-bottom">Bairro</label>
		<input class="form-control" type="text" ng-model="endereco.bairro" name="bairro" ng-required="true" placeholder="Bairro"
		/>
		<label class="align-text-bottom">Cidade</label>
		<input class="form-control" type="text" ng-model="endereco.cidade" name="cidade" ng-required="true" placeholder="Cidade"
		/>
		<label class="align-text-bottom">CEP</label>
		<input class="form-control" type="text" ng-model="endereco.cep" name="cep" ng-required="true" placeholder="CEP" />
		<label class="align-text-bottom">UF</label>
		<input class="form-control" type="text" ng-model="endereco.uf" name="uf" ng-required="true" placeholder="UF" />
		<label class="align-text-bottom">Complemento</label>
		<input class="form-control" type="text" ng-model="endereco.complemento" name="complemento" ng-required="true" placeholder="Complemento" />

	</form>
	<hr/>
	<a class="btn btn-danger btn-block" href="#/locatarioEdit/{{locatarioId}}">Locatário</a>
	
	<button class="btn btn-danger btn-block" ng-click="adicionarEndereco(endereco)" ng-disabled="enderecoForm.$invalid">Adicionar</button>
</div>