<div ng-show="!conjuge.data.length > 0" class="alert alert-danger" role="alert">
	Nenhum registro de cônjuge encontrado!
	<hr>
	<a class="btn btn-primary btn-block" href="#/conjugeNew/{{pessoaId}}">Adicionar</a>
	<a class="btn btn-success btn-block" href="#/locatarioEdit/{{pessoaId}}">Voltar</a>

</div>
<div ng-show="conjuge.data.length > 0">
	<div class="alert alert-danger" role="alert">Cadastro de cônjuge</div>	
	<form name="conjugeForm">
		<div class="form-group col-md-6 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Nome do Cônjuge</label>
			<input class="form-control" type="text" ng-model="conjuge.data[0].nome" name="fixo" ng-required="true" placeholder="Nome do cônjuge"/>
		</div>
		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">CPF</label>
			<input class="form-control" type="text" ng-model="conjuge.data[0].cpf" name="cpf" ng-required="true" placeholder="CPF"/>
		 </div>
		<div class="form-group col-md-3 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">RG</label>
			<input class="form-control" type="text" ng-model="conjuge.data[0].rg" name="rg" ng-required="true" placeholder="RG"	/>
		</div>
	</form>
	<hr>
	<div ng-show="msg!='vazio'">
		<div  class="alert alert-success" role="alert">{{msg}}	</div>
	</div>
	<button class="btn btn-danger btn-block" ng-click="saveConjuge(conjuge.data[0])" ng-disabled="conjuge.dataForm.$invalid">Salvar</button>
	<a class="btn btn-success btn-block" href="#/locatarioEdit/{{pessoaId}}">Voltar</a>
</div>