<div>
	<div class="alert alert-danger" role="alert">
		Cônjuge - Novo cadastro de cônjuge
	</div>
	<form name="conjugeForm">
		<label class="align-text-bottom">Nome do Cônjuge</label>
		<input class="form-control" type="text" ng-model="conjuge.nome" name="nome" ng-required="true" placeholder="Nome do cônjuge"/>
		<label class="align-text-bottom">CPF</label>
		<input class="form-control" type="text" ng-model="conjuge.cpf" name="cpf" ng-required="true" placeholder="CPF" />
		<label class="align-text-bottom">RG</label>
		<input class="form-control" type="text" ng-model="conjuge.rg" name="rg" ng-required="true" placeholder="RG" />
	</form>
	<hr/>
	<button class="btn btn-danger btn-block" ng-click="adicionarConjuge(conjuge)">Adicionar</button>
</div>