<div>
	<div ng-show="!bancos.data.length > 0" class="alert alert-danger" role="alert">

		Nenhum registro de bancos encontrado!

	</div>
	<div ng-show="bancos.data.length > 0" class="alert alert-danger" role="alert">
		Referência bancária
	</div>
	<table ng-show="bancos.data.length > 0" class="table table-striped">
		<tr>
			<th></th>
			<th>
				<a href="" ng-click="ordenarPor('banco_nome')">Banco</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('banco_agencia')">Agência</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('banco_conta')">Conta</a>
			</th>
			<th>
				<a href="" ng-click="ordenarPor('banco_data_abertura')">Data-Abertura</a>
			</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="banco in bancos.data | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			<td>
				<input type="checkbox" ng-model="banco.selecionado" />
			</td>
			<td>
				<a href="">{{banco.banco_nome |name}}</a>
			</td>
			<td>
				<a href="">{{banco.banco_agencia}}</a>
			</td>
			<td>
				<a href="">{{banco.banco_conta}}</a>
			</td>
			<td>
				<a href="">{{banco.banco_data_abertura}}</a>
			</td>
			<td>
				<a href="#/bancoEdit/{{banco.id}}">Editar</a>
			</td>
			<td>
				<a ng-click="apagarBanco(banco.id)" href="">Excluir</a>
			</td>
		</tr>

	</table>
	<hr/>
	<a class="btn btn-danger btn-block" href="#/locatarioEdit/{{locatarioId}}">Locatário</a>
	<a class="btn btn-primary btn-block" href="#/bancoNew/{{locatarioId}}">Adicionar</a>

</div>