<div class="jumbotron">
		<div class="alert alert-primary" role="alert">
				Cadastro de cônjuge
			      </div>
	<form name="conjugeForm">        	
	<input class="form-control" type="text" ng-model="conjuge.data.nome" name="fixo" ng-required="true" value=conjuge.data.fixo placeholder="Nome do cônjuge"/>
        <input class="form-control" type="text" ng-model="conjuge.data.cpf" name="cpf" ng-required="true" value=conjuge.data.cpf placeholder="CPF"/>
        <input class="form-control" type="text" ng-model="conjuge.data.rg" name="rg" ng-required="true" value=conjuge.data.rg placeholder="RG"/>
	
	
</form>	
	<hr/>
	<button class="btn btn-danger btn-block"  ng-click="saveconjuge(conjuge.data.id,conjuge.data)" ng-disabled="conjuge.dataForm.$invalid">Salvar</button>
</div>