<div class="jumbotron">
		<div class="alert alert-primary" role="alert">
				Cônjuge - Novo cadastro de cônjuge
			      </div>
	<form name="conjugeForm">				
		<input class="form-control" type="text" ng-model="conjuge.nome" name="nome" ng-required="true" placeholder="Nome do cônjuge"/>
		<input class="form-control" type="text" ng-model="conjuge.cpf" name="cpf" ng-required="true" placeholder="CPF"/>
		<input class="form-control" type="text" ng-model="conjuge.rg" name="rg" ng-required="true" placeholder="RG"/>
		
				
</form>	
	<hr/>
	<button class="btn btn-danger btn-block"  ng-click="adicionarconjuge(conjuge)">Adicionar</button>
</div>