<div>
	<div class="alert alert-danger" role="alert">
		Cadastro de locador
	</div>
	<form name="locadorForm">			

		<div class="form-group col-md-6 col-sm-12 col-xs-12 pl-0">
			<label class="align-text-bottom">Nome do locador</label>
			<input class="form-control" type="text" ng-model="locador.data.nome" name="nome" ng-required="true" value=locador.data.nome
			 placeholder="Nome do locador" />
		</div>
		
		<div class="form-group col-md-3 col-sm-12 col-xs-12">
				<label class="align-text-bottom">Data de Nascimento</label>
			<input class="form-control" type="text" ng-model="locador.data.nascimento" name="nascimento" ng-required="true" value=locador.data.nascimento
			 placeholder="Data de nascimento" />
		</div>
		
		<div class="form-group col-md-3 col-sm-12 col-xs-12">
				<label class="align-text-bottom">Sexo</label>
			<input class="form-control" type="text" ng-model="locador.data.sexo" name="sexo" ng-required="true" value=locador.data.sexo
			 placeholder="Sexo" />
		</div>




		<div class="form-group col-md-3 col-sm-12 col-xs-12">
				<label class="align-text-bottom">Estado</label>
			<input class="form-control" type="text" ng-model="locador.data.estado" name="estado" ng-required="true" value=locador.data.estado
			 placeholder="Estado civil" />
		</div>
		<div class="form-group col-md-3 col-sm-12 col-xs-12">
				<label class="align-text-bottom">CPF</label>
			<input class="form-control" type="text" ng-model="locador.data.cpf" name="cpf" ng-required="true" value=locador.data.cep
			 placeholder="CFP" />
		</div>
		<div class="form-group col-md-3 col-sm-12 col-xs-12">
				<label class="align-text-bottom">RG</label>
			<input class="form-control" type="text" ng-model="locador.data.rg" name="rg" ng-required="true" value=locador.data.rg
			 placeholder="RG" />
		</div>

		<div class="form-group col-md-2 col-sm-12 col-xs-12">
				<label class="align-text-bottom">Orgão Emissor</label>
			<input class="form-control" type="text" ng-model="locador.data.emissor" name="emissor" ng-required="true" value=locador.data.emissor
			 placeholder="Emissor" />
		</div>

		<div class="form-group col-md-1 col-sm-12 col-xs-12">
				<label class="align-text-bottom">UF</label>
			<input class="form-control" type="text" ng-model="locador.data.uf" name="uf" ng-required="true" value=locador.data.uf
			 placeholder="UF" />
		</div>

		<div class="form-group col-md-2 col-sm-12 col-xs-12">
				<label class="align-text-bottom">Naturalidade</label>
			<input class="form-control" type="text" ng-model="locador.data.naturalidade" name="naturalidade" ng-required="true" value=locador.data.naturalidade
			 placeholder="Naturalidade" />
		</div>
		
		<div class="form-group col-md-5 col-sm-12 col-xs-12">
				<label class="align-text-bottom">Nome do Pai</label>
			<input class="form-control" type="text" ng-model="locador.data.pai" name="pai" ng-required="true" value=locador.data.pai
			 placeholder="Nome do pai" />
		</div>
		
		<div class="form-group col-md-5 col-sm-12 col-xs-12">
				<label class="align-text-bottom">Nome da Mãe</label>
			<input class="form-control" type="text" ng-model="locador.data.mae" name="mae" ng-required="true" value=locador.data.mae
			 placeholder="Nome do mae" />
		</div>
		
		<div class="form-group col-md-12 col-sm-12 col-xs-12">
			<hr/>
		</div>

		<div class="form-group col-md-12 col-sm-12 col-xs-12">
			<button class="btn btn-danger btn-block" ng-click="saveLocador(locador.data.id,locador.data)" ng-disabled="locador.dataForm.$invalid">Salvar</button>
		</div>


		
		<div class="form-group col-md-2 col-sm-2">
			<a class="btn btn-block aLink" href="#/enderecoEdit/{{locador.data.id}}">Endereço</a>
		</div>
		<div class="form-group col-md-2 col-sm-2">
			<a class="btn btn-block aLink" href="#/contatoEdit/{{locador.data.id}}">Contatos</a>
		</div>
	</form>

</div>